<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorator="/layout/default_layout">
 
	<script>
		function contentModify() {
			
			if (!confirm("위의 내용으로 수정 하시겠습니까 ?")) return;
			
	        $.ajax({
	            url: '/post/modify',
	            method: 'PUT',
	            data : $('#info').serialize(),
	            async : false,
	            success : function (res) {
	          	  alert("게시글 수정 완료");
	          	  location.href='/post/detail?idx=' + $('#idx').val();
	            },
	            error: function (xhr) {
	          	  alert("게시글 수정 실패");
	            }
	        });
		}
		
		function contentDelete() {
			
			if (!confirm("정말 삭제 하시겠습니까?")) return;

			let postId = document.getElementById("postId");

	        $.ajax({
	            url: '/api/v1/post/' + postId,
	            method: 'DELETE',
	            async : false,
	            success : function (res) {
	          	  alert("게시글 삭제 완료");
	          	  location.href='/post/list';
	            },
	            error: function (xhr) {
	          	  alert("게시글 삭제 실패");
	            }
	        });
		}
		
		function showModifyForm(id) {
			if (id == "update") {
				$('#update').hide();
				$('#delete').hide();
				$('#viewTitle').hide();
				$('#viewContent').hide();
				$('#title').show();
				$('#content').show();
				$('#updateConfirm').show();
				$('#updateCancle').show();
			} else {
				$('#update').show();
				$('#delete').show();
				$('#viewTitle').show();
				$('#viewContent').show();
				$('#title').hide();
				$('#content').hide();
				$('#updateConfirm').hide();
				$('#updateCancle').hide();
			}
		}

    </script>
<body>
    <div class="container" layout:fragment="content">
        <div class="page-header">
            <h1>게시글 상세</h1>
        </div>
        <div class="container-fluid">
        	<form id="detail" onsubmit="return false;">
        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        		<input type="hidden" id="postId" name="postId" th:value="${ContentDetail.id}"/>
	            <div class="row">
	                <div class="form-group col-lg-12">
	                  <label>제목</label>
	                  <div class="input-group">
	                  	<h2 id="viewTitle" th:text="${ContentDetail.title}"></h2>
	                  	<input id="title" type="text" name="title" class="form-control form-control-lg " placeholder="" th:value="${ContentDetail.title}" style="display:none">
	                  </div>
	                </div>
	                <div class="form-group col-lg-12" id="editor">
	                  <label>내용</label>
	                  	<h5 id="viewContent" th:text="${ContentDetail.contents}"></h5>
	                  	<textarea id="content" name="content" class="form-control form-control-lg " placeholder="" rows="20"  th:text="${ContentDetail.contents}" style="display:none; resize: none;"></textarea>
	                </div>
	            </div>
		        <div class="pull-left">
		            <a id="update" th:if="${ContentDetail.id}" onclick="showModifyForm(this.id);" class="btn btn-info btn-block">수정</a>
		            <a id="updateConfirm" onclick="contentModify(this.id);" class="btn btn-success btn-block" style="display: none;">완료</a>
		            <a id="updateCancle" onclick="showModifyForm(this.id);" class="btn btn-warning btn-block" style="display: none;">취소</a>
		            <a id="delete" th:if="${ContentDetail.id}"onclick="detail.delete();" class="btn btn-danger btn-block">삭제</a>
		        </div>
	        </form>
        </div>
    </div>
</body>
<script th:fragment="customScript">
	let detail = {
		modify: function() {

		},
		delete: function() {

		}
	};
</script>
</html>