<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/default_layout">
 
<head>
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
 
<body>
    <div class="container" layout:fragment="content">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6" style="width:100px;margin:10px 0;">
                <a href="/user/login" class="btn btn-primary btn-block">로그인</a>
            </div>
            <div class="col-xs-6" style="width:200px;margin:10px 0;">
                <a href="/post/create" class="btn btn-primary btn-block pull-right">게시글 등록</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr class="warning">
                            <th class="col-xs-1">No</th>
                            <th class="col-xs-4">제목</th>
                            <th class="col-xs-3">작성자</th>
                            <th class="col-xs-1">작성 날짜</th>
                            <th class="col-xs-1">수정 날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post : ${boardList}">
                            <td th:text="${post.id}"></td>
                            <td><a th:href="'/post/'+ ${post.id}" th:text="${post.title}"></a></td>
                            <td th:text="${post.createUser.userId}"></td>
                            <td th:text="${#temporals.format(post.createDateTime, 'yyyy-MM-dd HH:mm:dd')}"></td>
                            <td th:text="${#temporals.format(post.modifiedDateTime, 'yyyy-MM-dd HH:mm:dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <nav class="navbar" aria-label="Page navigation" style="text-align: center; margin: 0 40% 0 40%">
                <ul class="pagination"
                    th:with="startNumber=(${T(Math).floor(postCount / 10)} * 10) + 1 ,
                            totalPages = ${T(Math).floor(postCount / 10)},
                            endNumber=(${totalPages} > ${startNumber} + 9) ? ${startNumber} + 9 : ${totalPages} ,
                            endNumber=(${endNumber} == 0) ? 1 : ${endNumber},
                            page=${#request.getParameter('page')}
                            ">

                    <li class="page-item" th:style="${startNumber} ? 'display:none'">
                    	<a class="page-link" href="/?page=1">&laquo;</a>
                    </li>
                    <li class="page-item" th:style="${startNumber} ? 'display:none'">
                        <a class="page-link" th:href="@{/templates/index(page=${page})}">&lsaquo;</a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(startNumber, endNumber)}"
--                        th:class="(${pageNum} == ${page}) ? 'page-item active'">
                        <a class="page-link" th:href="@{/(page=${pageNum})}" th:text="${pageNum}">
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item" th:style="${endNumber} ? 'display:none'">
                        <a class="page-link" th:href="@{/templates/index(page=${page} + 2)}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:style="${endNumber} ? 'display:none'">
                        <a class="page-link" th:href="@{/(page=${endNumber})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
<script layout:fragment="customScript">
    let prevItem = null;

    const index = {
        pageItemClick: function(item) {
            prevItem.removeClass('active');
            item.addClass('active');
        }
    }
</script>
</html>