<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorator="/layout/default">
 
<head>
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel='stylesheet' th:href='@{/css/bootstrap.min.css}'>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
 
<body>
     <header th:fragment="header">
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/board/list">Simple Board</a>
        </nav>
    </header>
    
    <div class="container" layout:fragment="content">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>
        <div class="pull-right" style="width:100px;margin:10px 0;">
            <a href="/board/form" class="btn btn-primary btn-block">등록</a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr class="warning">
                            <th class="col-xs-1">No</th>
                            <th class="col-xs-4">제목</th>
                            <th class="col-xs-3">작성자</th>
                            <th class="col-xs-1">작성 날짜</th>
                            <th class="col-xs-1">수정 날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.idx}"></td>
                            <td><a th:href="'/board/detail?idx='+${board.idx}" th:text="${board.title}"></a></td>
                            <td th:text="${board.createId}"></td>
                            <td th:text="${#temporals.format(board.createDateTime, 'yyyy-MM-dd HH:mm:dd')}"></td>
                            <td th:text="${#temporals.format(board.modifyDateTime, 'yyyy-MM-dd HH:mm:dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <nav class="navbar" aria-label="Page navigation" style="text-align: center; margin: 0 40% 0 40%">
                <ul class="pagination" 
                    th:with="startNumber=(${T(Math).floor(boardList.number/10)} * 10) + 1 ,
                            endNumber=(${boardList.totalPages} > ${startNumber} + 9) ? ${startNumber} + 9 : ${boardList.totalPages} ,
                            endNumber=(${endNumber} == 0) ? 1 : ${endNumber}
                            ">
                    
                    <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                    	<a class="page-link" href="/board/list?page=1">&laquo;</a>
                    </li>
                    <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                        <a class="page-link" th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(startNumber, endNumber)}"
                        th:class="(${page} == ${boardList.number} + 1) ? 'page-item active'">
                        <a class="page-link" th:href="@{/board/list(page=${page})}" th:text="${page}">
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                        <a class="page-link" th:href="@{/board/list(page=${boardList.number} + 2)}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                        <a class="page-link" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>